MONGO_DB_URI = "<connection string uri>"
MONGO_DB_NAME = "<connection string name>"
personal_manager_db_username = "<connection string username>"
personal_manager_db_password = "<connection string password>"
personal_manager_db = "<connection string database>"